<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Cadastro Usuário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
   <div class="card login-box">
    <div class="back-wrapper">
        <a href="/" class="link-back">Voltar</a>
    </div>
    <h1 class="header">Cadastro de Usuário</h1>
    {% if error %}
        <div class="error-message">{{ error }}</div>
    {% endif %}
    <form method="post">
        <div class="name-above">
            <label for="nome">
            Nome:
            </label>
            <input type="text" name="nome" placeholder="Nome" required>
        </div>
        <div class="name-above">
            <label for="email">
            Email:
            </label>
            <input type="email" name="email" placeholder="E-mail" required>
        </div>
        <div class="name-above">
            <label for="senha">
            Senha:
            </label>
            <input type="password" name="senha" placeholder="Senha" required>
        </div>
        <button class="btn" type="submit" class="btn-submit">Cadastrar</button>
    </form>
  </div>
</body>
</html>