
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <title>Registrar Nova Consulta</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="card">
    <div class="back-wrapper">
      <a href="/" class="link-back">Voltar</a>
    </div>
    <h1 class="header">Registrar Nova Consulta</h1>
    <form method="post" class="consulta-form">
      <div class="field-wrapper">
        <label for="id_animal">Pet:</label>
        <select id="id_animal" name="id_animal" required>
          <option value="">Selecione</option>
          {% for a in animais %}
            <option value="{{ a.id }}">{{ a.nome }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="toggle-group-vertical">
        <div class="checkbox-group">
          <input type="checkbox" id="vomito" name="vomito">
          <label for="vomito" class="toggle-btn">Vômito</label>
        </div>
        <div class="checkbox-group">
          <input type="checkbox" id="febre" name="febre">
          <label for="febre" class="toggle-btn">Febre</label>
        </div>
        <div class="checkbox-group">
          <input type="checkbox" id="perda_apetite" name="perda_apetite">
          <label for="perda_apetite" class="toggle-btn">Perda de Apetite</label>
        </div>
        <div class="checkbox-group">
          <input type="checkbox" id="diarreia" name="diarreia">
          <label for="diarreia" class="toggle-btn">Diarreia</label>
        </div>
      </div>
      <div class="field-wrapper">
        <label for="descricao">Descrição:</label>
        <textarea id="descricao" name="descricao" rows="4"></textarea>
      </div>
      <button class="btn" type="submit">Salvar</button>
    </form>
  </div>
</body>
</html>
